[Service]
Environment="HTTP_PROXY=#{proxy hostname:my_proxy}:#{proxy port:8080}"
Environment="HTTPS_PROXY=#{proxy hostname:my_proxy}:#{proxy port:8080}"
Environment="NO_PROXY=localhost,127.0.0.0/8,docker-registry.somecorporation.com"
