export HTTP_PROXY=#{proxy hostname:my_proxy}:#{proxy port:8080}
export HTTPS_PROXY=#{proxy hostname:my_proxy}:#{proxy port:8080}
export ALL_PROXY=socks://#{proxy hostname:my_proxy}:#{proxy port:8080}
